// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
@import 'assets/colors';

$btn-padding-x: 1.5rem;
$btn-padding-x-lg: 2rem;
// $enable-rounded: false;

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/progress';
@import 'bootstrap/scss/helpers';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/spinners';
@import 'bootstrap/scss/accordion';
@import 'bootstrap/scss/card';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/tooltip';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/alert';
@import 'bootstrap/scss/modal';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

// 8. Add additional custom code here
html {
  height: 100%;
}

body {
  min-height: 100%;
}

.vue-icon {
  vertical-align: -0.125em;
}
