@import 'colors';

article {
  counter-reset: h2-counter;

  h2 {
    counter-increment: h2-counter;
    counter-reset: h3-counter;

    &::before {
      content: counter(h2-counter, upper-roman) ". ";
      color: darken($primary, 10%);
    }
  }

  h3 {
    counter-increment: h3-counter;

    &::before {
      content: counter(h2-counter, upper-roman) ". " counter(h3-counter, lower-latin) ". ";
      color: darken($primary, 10%);
    }
  }
}
