[Desktop Entry]
Name=Open Authenticator
Comment=A cross-platform OTP app, free and open-source
Exec=open-authenticator
Icon=${SNAP}/meta/gui/icon.svg
Terminal=false
Type=Application
Categories=Utility;Security;
