$blue: #2196f3;
$light: darken(#f8f9fa, 2%);
$red: #f44336;
$yellow: #ffeb3b;
$teal: #009688;
$green: #4caf50;
$dark: #212529;
$primary: #4caf50;

$accordion-bg: black;
$accordion-border-color: black;
$accordion-button-active-bg: black;
$accordion-color: $light;
$accordion-button-color: $light;
$accordion-button-active-color: $light;
$accordion-icon-color: $light;
$accordion-icon-active-color: $light;
$accordion-button-focus-box-shadow: 0 0 0 0.25rem rgba($light, 0.25);

$tooltip-color: black;
$tooltip-bg: $light;
