$blue: #2196f3;
$light: darken(#f8f9fa, 2%);
$red: #f44336;
$yellow: #ffeb3b;
$teal: #009688;
$green: #4caf50;
$dark: #212529;
$primary: #4caf50;

$accordion-button-active-bg: $light;
$accordion-button-active-color: $dark;

$tooltip-color: black;
$tooltip-bg: $light;
