<?xml version="1.0" encoding="UTF-8"?>
<policyconfig>
  <action id="app.openauthenticator.authenticate">
    <description gettext-domain="polkit.app.openauthenticator">Authentication required</description>
    <message gettext-domain="polkit.app.openauthenticator">Please authenticate.</message>
    <defaults>
      <allow_any>auth_self</allow_any>
      <allow_inactive>auth_self</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>